@media screen and (max-width: 530px) {
    .step1::after {
        content: '';
        display: none;
    }
    .step2::after {
        content: '';
        display: none;
    }
    .step3::after {
        content: '';
        display: none;
    }
}

@media screen and (max-width: 1800px) {
    .step1::after {
        content: '';
        position: absolute;
        width: 173px !important;
        height: 1px;
        right: 148px !important;
        background-color: #707A8C;
        top: 15px;
    }
    .step2::after {
        width: 165px !important;
    }
    .step3::after {
        width: 160px !important;
    }
}

@media screen and (max-width: 1700px) {
    .step1::after {
        width: 228px !important;
        right: 176px !important;
    }
    .step2::after {
        width: 220px !important;
    }
    .step3::after {
        width: 215px !important;
    }
}

@media screen and (max-width: 1500px) {
    .step1::after {
        width: 191px !important;
        right: 158px !important;
    }
    .step2::after {
        width: 185px !important;
    }
    .step3::after {
        width: 175px !important;
    }
}



@media screen and (max-width: 1200px) {
    .step1::after {
        width: 140px !important;
        right: 132px !important;
    }
    .step2::after {
        width: 130px !important;
    }
    .step3::after {
        width: 125px !important;
    }
}

@media screen and (max-width: 768px) {
    .step1::after {
        width: 93px !important;
        right: 110px !important;
    }
    .step2::after {
        width: 85px !important;
    }
    .step3::after {
        width: 78px !important;
    }
}

.step1>span {
    padding: 5px 14px 5px 14px;
    border-radius: 50%;
    border: 3px solid #FDA649;
    color: #FDA649;
    position: relative;
}

.step1::after {
    content: '';
    position: absolute;
    width: 265px;
    height: 1px;
    right: 195px;
    background-color: #707A8C;
    top: 15px;
}

.stepYellow>div {
    color: #FDA649;
}

.stepYellow>span {
    background-color: #FDA649;
    color: white !important;
}

.step1AfterYellow::after {
    content: '';
    position: absolute;
    width: 265px;
    height: 1px;
    background-color: #FDA649;
    top: 15px;
}

.step2AfterYellow::after {
    content: '';
    position: absolute !important;
    background-color: #FDA649 !important;
}

.step2Yellow>span {
    border: 3px solid #FDA649 !important;
    color: #FDA649;
}


/*  */

.step2 {
    position: relative;
}

.step2>span {
    padding: 5px 14px 5px 14px;
    border: 3px solid #707A8C;
    border-radius: 50px;
    position: relative;
}

.step2::after {
    content: '';
    position: absolute;
    width: 258px;
    height: 1px;
    background-color: #707A8C;
    top: 15px;
    right: 60px;
}


/*  */

.step3 {
    position: relative;
}

.step3>span {
    padding: 5px 14px 5px 14px;
    border: 3px solid #707A8C;
    border-radius: 50px;
    position: relative;
}

.step3::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 1px;
    background-color: #707A8C;
    top: 15px;
    right: 65px;
}


/*  */

.step4 {
    position: relative;
}

.step4>span {
    padding: 5px 14px 5px 14px;
    border: 3px solid #707A8C;
    border-radius: 50px;
    position: relative;
}

.datepicker-input {
    display: none;
}

.calendarContainer {
    direction: rtl;
    top: 0;
    width: 100% !important;
    right: 0;
    background-color: #121212 !important;
    color: #707A8C !important;
    box-shadow: none !important;
}

.CalendarParent {
    border: 1px solid #43382C !important;
    border-radius: 10px;
    padding: 10px;
}

.dayWrapper>button {
    color: #707A8C !important;
}

.tether-element {
    transform: none !important;
    top: 500px !important;
    right: 0px !important;
}

.calendarContainer .heading .title {
    float: right !important;
    border: none !important;
    color: white !important;
}

.calendarContainer .heading .title:hover {
    background-color: rgba(255, 255, 255, 0);
}

.calendarContainer .heading .prev {
    border: 3px solid #FDA649;
    position: absolute;
    left: 70px;
}

.calendarContainer .heading .prev:hover {
    background-color: #FDA649;
}

.calendarContainer .heading .next {
    border: 3px solid #FDA649;
}

.calendarContainer .heading .next:hover {
    background-color: #FDA649;
}

.calendarButton {
    display: none !important;
}

.calendarContainer .dayWrapper button[disabled] {
    background-color: #BCBCBC !important;
    border-radius: 0px !important;
    width: 60px !important;
    height: 60px !important;
}

.calendarContainer .dayWrapper button {
    border-radius: 0px !important;
    width: 60px !important;
    height: 60px !important;
    color: white !important;
    background-color: #496E4C !important;
    margin-top: 10px;
}

.currentMonth>button {
    background-color: #496E4C !important;
    border: 3px;
}

.calendarContainer .dayWrapper:not(.currentMonth) button {
    display: none;
}

.calendarContainer .selected button {
    background-color: #3058C5 !important;
}

.ChooseAnHour {
    border-radius: 10px;
    border: 1px solid #FDA649;
}

.ChooseAnHour::after {
    display: inline-block;
    width: 0px;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: left;
    top: 14px;
    position: relative;
    font-size: 20px;
    color: #FDA649;
}

.input {
    background-color: #121212;
    border-radius: 10px;
    border: 1px solid #FDA649;
}

.input:focus {
    background-color: #121212 !important;
    border-radius: 10px;
    border: 1px solid #FDA649 !important;
    color: white !important;
}

.progressStep3>span {
    border: 3px solid #FDA649 !important;
    color: #FDA649 !important;
}

.completeStep3>span {
    background-color: #FDA649;
    color: white !important;
}

.completeStep3>div {
    color: #FDA649 !important;
}

.completeStep3::after {
    content: '';
    background-color: #FDA649;
}

.progressStep4>span {
    border: 3px solid #FDA649 !important;
    color: #FDA649 !important;
}